@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  15% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-ring {
  animation: ring 2s ease-in-out infinite;
}

